<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Welcome to BEACON</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body style="background-image: url('/static/img/background.png'); background-size: cover; background-position: center; height: 100vh; margin: 0;">
  <nav class="navbar">
    <div class="logo-group">
      <img src="/static/img/logo.png" alt="Logo" class="logo-img" />
      <span class="logo-text">BEACON</span>
    </div>
    <div class="nav-links">
      <a href="/login" class="btn primary">Login</a>
    </div>
  </nav>
</body>
</html>
